@import "compass/css3";
@import "_animations";

body {
  background: black ;
}

.game {
  width: 400px;
  height: 550px;
  overflow: hidden;
  position: absolute;
  background: url("/images/backg.jpg");
}

.gameOver {
  width: 100px;
  height: 40px;
  position: absolute;
  background: #000000;
}

.world {
  position: absolute;
}

.background {
  background: url("/images/backg.jpg");
  background-repeat: repeat-y;
  height: 6000px;
  width: 100%;
}

.enemy {
  position: absolute;
  height: 60px;
  width: 65px;
  left: 0;
  top: 0;
  margin-left: -50px;
  margin-top: -50px;
  background: blueviolet;
  @include border-radius(40px);
  background: url("/images/nsa.jpg");
  background-origin: 20px;

}

.platform {
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    margin-left: 0px;
    background: #ba4a55;
    @include border-radius(10px);
}

@import "_player";